

h3{
    text-align: center;

}
h1{
    text-align: center;
}
.red{
    background-color: red;
}

body{
    background-color: cornsilk;
    margin: 15px;
}
h2 {
background-color: lightslategray;
color: white;

}